APP_ENV=production
BASE_URL=http://localhost/plazamovil
DB_HOST=localhost
DB_NAME=agro_app
DB_USERNAME=root
DB_PASSWORD=secret
MERCADOPAGO_ACCESS_TOKEN=APP_USR-8452269694356919-092417-c15711717e9df463834bed7ebb2225dc-2702024581